<h3>List of Menu Items</h3>

<a ui-sref="categoryList">Back to categories</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Short Name</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price Small</th>
        <th scope="col">Price Large</th>
    </tr>
    </thead>

    <tbody ng-repeat="item in itemList.items">
    <tr>
        <td scope="row">{{ item.short_name }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price_small }}</td>
        <td>{{ item.price_large }}</td>
    </tr>
    </tbody>
</table>